.navbar{
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 10px;
    column-gap: 20px;
    justify-content: left;
    font-size: 30px;
}
.nav-itemcontainer{
    display: flex;
    column-gap: 16px;
}
button{
    background-color: darkorchid;
    border: none;
    color: lawngreen;
    border-radius: 10%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgg{
    width: 700px;
    height: 500px;
}

p{
    font-size: 60px;
    margin: 10px;
}